Makefile
Makefile.in
*.stamp
/src/*.o
/src/*.lo
/src/*.la
/src/*.gir
/src/*.typelib
/src/test-api-client
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/src/.deps/
.libs/
/stamp-h1
/gtk-doc.make
/m4/*
!/m4/valac.m4
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/INSTALL
/ChangeLog
/src/matrix-version.h
/src/matrix-enumtypes.[ch]
/src/matrix-marshalers.[ch]
/src/stamp-matrix-marshalers
/docs/reference/matrix-glib/version.xml
/docs/reference/matrix-glib/html/
/docs/reference/matrix-glib/xml/
/docs/reference/matrix-glib/matrix-glib-decl-list.txt
/docs/reference/matrix-glib/matrix-glib-decl.txt
/docs/reference/matrix-glib/matrix-glib-overrides.txt
/docs/reference/matrix-glib/matrix-glib-undeclared.txt
/docs/reference/matrix-glib/matrix-glib-undocumented.txt
/docs/reference/matrix-glib/matrix-glib-unused.txt
/docs/reference/matrix-glib/matrix-glib.args
/docs/reference/matrix-glib/matrix-glib.hierarchy
/docs/reference/matrix-glib/matrix-glib.interfaces
/docs/reference/matrix-glib/matrix-glib.prerequisites
/docs/reference/matrix-glib/matrix-glib.signals
/docs/reference/matrix-glib/matrix-glib.types
/docs/reference/matrix-glib/*.bak

# Vala related files
/src/Matrix-0.0.vapi
/src/vala-temp
/src/vala-stamp
/src/matrix-glib.h
/src/matrix-api.c
/src/matrix-client.c
/src/matrix-enums.c
