Makefile
Makefile.in
*.stamp
/src/*.o
/src/*.lo
/src/*.la
/src/*.gir
/src/*.typelib
/src/test-api-client
/src/test-client
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/src/.deps/
.libs/
/stamp-h1
/gtk-doc.make
/m4/*
!/m4/valac.m4
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/INSTALL
/ChangeLog
/src/matrix-version.h
/src/matrix-enumtypes.[ch]
/src/matrix-marshalers.[ch]
/src/stamp-matrix-marshalers
/docs/valadoc/gtk-doc/gtk-doc

# Vala related files
/src/Matrix-0.0.vapi
/src/vala-temp
/src/vala-stamp
/src/matrix-glib.h
/src/matrix-api.c
/src/matrix-client.c
/src/matrix-types.c
/src/matrix-http-api.c
/src/matrix-http-client.c
/src/matrix-compacts.c
/src/matrix-event-base.c
/src/matrix-event-presence.c
/src/matrix-event-room-base.c
/src/matrix-event-room-member.c
/src/matrix-event-state-base.c
/src/matrix-event-room-message.c
/src/namespace-info.vala
/src/namespace-info.c
/src/matrix-event-room-topic.c
/src/matrix-event-typing.c
/src/matrix-event-room-aliases.c
/src/matrix-event-receipt.c
/src/matrix-event-room-history-visibility.c
/src/matrix-event-room-join-rules.c
/src/matrix-event-room-name.c
/src/matrix-event-tag.c
/src/matrix-event-room-canonical-alias.c
/src/matrix-event-room-create.c
/src/matrix-event-room-power-levels.c
/src/matrix-event-room-avatar.c
/src/matrix-event-room-message-feedback.c
/src/matrix-event-room-guest-access.c
/src/matrix-event-room-redaction.c
/src/matrix-event-room-third-party-invite.c
/src/matrix-event-call-invite.c
/src/matrix-event-call-candidates.c
/src/matrix-event-call-answer.c
/src/matrix-event-call-hangup.c
/src/matrix-event-call-base.c
/src/matrix-glib-0.0.pc
/src/matrix-message-base.c
/src/matrix-message-text.c
/src/matrix-message-emote.c
/src/matrix-message-notice.c
/src/matrix-message-file.c
/src/matrix-message-image.c
/src/matrix-message-audio.c
/src/matrix-message-video.c
/src/matrix-message-location.c
/src/matrix-profile.c
/src/matrix-room.c
