Makefile
Makefile.in
*.stamp
/src/*.o
/src/*.lo
/src/*.la
/src/*.gir
/src/*.typelib
/src/test-api-client
/src/test-client
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/src/.deps/
.libs/
/stamp-h1
/gtk-doc.make
/m4/*
!/m4/valac.m4
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/INSTALL
/ChangeLog
/.dir-locals.el
/src/matrix-version.h
/src/matrix-enumtypes.[ch]
/src/matrix-marshalers.[ch]
/src/stamp-matrix-marshalers

# Vala related files
/src/Matrix-0.0.vapi
/src/vala-temp
/src/vala-stamp
/src/matrix-glib.h
/src/namespace-info.vala
/src/namespace-info.c
/src/matrix-glib-0.0.pc
